.descriptionItem {
    display: flex;
}

.descriptionItem span {
    font: var(--font-subtitle);
    margin-bottom: 8px;
}

.descriptionItem span:first-child {
    color: var(--color-grey);
    width: 50%;
}

.descriptionItem span:last-child {
    color: var(--color-black);
    width: 50%;
    flex-grow: 1;
}

