.wrapperPage {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    row-gap: 8px;
}
.pageNumber, .arrowBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
    background-color: var(--color-grey-light);
    border-radius: var(--radius-s);
    margin-right: 16px;
    cursor: pointer;
}

.pageNumber:hover {
    box-shadow: var(--card-shadow);
}

.pageNumberSelected {
    background-color: var(--color-primary);
}

.pageNumberSelected:hover {
    box-shadow: none;
}
.pageTest {
    background-color: var(--color-black);
}